@font-face {
  font-family: onepiece;
  src: url(OnePiece-zAqL.ttf);
}
@font-face {
  font-family: pokemon;
  src: url(PokemonGb-RAeo.ttf);
}
@font-face {
  font-family: dbz;
  src: url(Saiyan-Sans.ttf);
}
@font-face {
  font-family: haikyuu;
  src: url(DIMITRI_.TTF);
}
@font-face {
  font-family: cobrakai;
  src: url(Dead\ Stock\ -\ Demo.ttf);
}
@font-face {
  font-family: naruto;
  src: url(njnaruto.ttf);
}
@font-face {
  font-family: jujutsu;
  src: url(jujutsu-kaisen/Jujutsu\ Kaisen.ttf);
}
@font-face {
  font-family: bluelock;
  src: url(BebasNeue-Regular.otf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(4, 11, 100);
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  text-align: center;
}
h1 {
  color: white;
  font-weight: bolder;
  font-size: 3rem;
  font-family: 'bluelock', Courier, monospace;
  letter-spacing: 0.3rem;
}
#container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 1.5%;
  justify-content: space-evenly;
  width: 100%;
  height: 95%;
}
.card-character {
  position: relative;
  width: 19%;
  height: 44%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.card-character:hover {
  cursor: pointer;
  scale: 102%;
  box-shadow: 0px 0px 20px white;
  filter: brightness(120%);
}
.card-character > P {
  position: relative;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.705);
  font-weight: bolder;
  border-radius: 15px 15px 0px 0px;
}
#container-info {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  flex-direction: row;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 30px;
  width: 80%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.95);
}
#expanded-image {
  width: 35%;
  height: 100%;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
  filter: brightness(110%) saturate(150%);
}
#container-info-text {
  width: 65%;
  height: 100%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 20px 20px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}
#container-info-text > h1 {
  color: white;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  backdrop-filter: brightness(20%) grayscale(80%);
  filter: brightness(220%);
}
#container-info-text > p { 
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  backdrop-filter: brightness(20%) grayscale(80%);
  color: white;
}
#container-info-options {
position: absolute;
right: 0%;
top: 0%;
backdrop-filter: brightness(20%) grayscale(80%);
}
#fechar-info { 
  transition-duration: .3s;
  transition-timing-function: ease
}
#fechar-info:hover { 
  scale: 110%;
}
@media screen and (max-width: 768px)  {
  .card-character > P {
    position: relative;
    font-size: .8rem;
    background-color: rgba(255, 255, 255, 0.705);
    font-weight: bolder;
    border-radius: 15px 15px 0px 0px;
  }
}